.theme-dark-var {
   --background-color: #1e2131;
   --background-color-deep: #34394a;
   --background-color-shadow: #34394a;
   --color-active: #45a3e9;
   --nav-color-active: #b8a37c;
   --color-primary: #36548d;
   --color-primary-deep: #2974cb;
   --color-primary-shadow: #36548d;
   --color-primary-shadow-2: #323748;
   --color-active-deep: #2b99ff;
   --font-color-strong: #fff;
   --font-color-gray: #999;
   --font-color-gray-deep: #555550;
   --font-color-default: #aaa;
   --border-color-gray: #34394a;
   --border-color-deep: #355a9a;
}
