// TODO: remove
body {
  --text-color: var(--text-normal);

  --hover-color: var(--components-hover);

  --background-color: var(--bg-final);
  --background-color-secondary: var(--bg-header);

  --border-color: var(--border-primary);
  --border-hover-color: var(--border-hover);
}
