html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", "wenquanyi micro hei", Arial, sans-serif;
  color: var(--text-normal);
  background-color: var(--bg-bg);
}
