// highcharts-tree
$highcharts-tree-node-border-color: hsla(216, 76%, 44%, 1);
$highcharts-tree-node-bg-toggle: hsla(216, 76%, 44%, 0.2);
$highcharts-tree-node-bg-toggle-hover: hsla(216, 76%, 44%, 0.1);
$highcharts-tree-node-bg: hsla(216, 76%, 44%, 0.4);
$highcharts-tree-node-bg-hover: hsla(216, 76%, 44%, 0.2);
@import "~highcharts-tree/css/highcharts-tree.scss";

.highcharts-tree-node-data text,
.highcharts-tree-node-title text,
.highcharts-tree-legend-text {
  color: var(--white);
  fill: var(--white);
}

// highcharts
$colors: #6c8ff1, #ffcb37, #50e3c2, #d94040, #00c1c4, #0064cd, #7ed321, #167b58,
  #6e48db, #c17aff, #ff9a00, #b5ea81, #ff27aa, #00c7ff, #e47d03;

@import "~highcharts/css/highcharts";

.highcharts-container {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", "wenquanyi micro hei", Arial, sans-serif;
}

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .highcharts-text-color-#{$i - 1} {
    fill: $color;
  }
  .highcharts-color-#{$i - 1} {
    &.highcharts-navigator-series,
    &.highcharts-halo {
      fill: $color;
      stroke: $color;
    }

    &.highcharts-bar-series {
      .highcharts-point {
        fill: $color;
        stroke: $color;
      }
    }

    &.highcharts-point {
      fill: $color;
    }
  }
}
.highcharts-column-series rect.highcharts-point,
.highcharts-pie-series .highcharts-point {
  stroke: var(--bg-bg);
  stroke-linejoin: round;
}

.highcharts-area {
  fill-opacity: 0.2;
}

.plot-line-zero {
  stroke: #333;
  stroke-dasharray: 2, 6;
  stroke-width: 2px;
}

.highcharts-waterfall-series .highcharts-negative {
  fill: #7ed321;
  stroke: #7ed321;
}

.highcharts-credits {
  font-size: 9px;
  pointer-events: none;
}

//vars
.highcharts-background {
  fill: var(--bg-bg);
}

.highcharts-yaxis-grid .highcharts-grid-line {
  stroke: var(--border-primary);
}

.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke: var(--border-primary);
}

.highcharts-axis-line {
  stroke: var(--border-primary);
}

.highcharts-axis-labels text {
  fill: var(--text-normal);
}

.highcharts-data-label text {
  fill: var(--text-normal);
}

.highcharts-root text {
  fill: var(--text-normal);
}

.highcharts-range-input {
  stroke: var(--border-primary);
  text {
    fill: var(--text-normal);
  }
}

.highcharts-range-selector {
  color: var(--text-normal);
  background-color: var(--bg-bg);
  border-color: var(--border-hover) !important;
  &.active {
    border-color: var(--border-hover) !important;
  }

  &-buttons text {
    fill: var(--text-normal);
  }
}

.highcharts-button {
  fill: var(--table-header);

  text {
    fill: var(--text-normal);
  }

  &-disabled {
    fill: var(--bg-primary);
  }

  &-pressed {
    text {
      fill: var(--text-color);
    }
  }
}

.highcharts-legend-item {
  text {
    fill: var(--text-normal);
  }

  &:hover text {
    fill: var(--text-color);
  }
}

.highcharts-scrollbar-track {
  fill: var(--table-scroll-bg-color);
  stroke: var(--table-scroll-bg-color);
}

.highcharts-scrollbar-thumb {
  fill: #6685c2;
  fill-opacity: 0.25;
  stroke: var(--table-scroll-track-color);
}

.highcharts-navigator-handle {
  fill: var(--bg-bg);
  stroke: var(--border-primary);
}

.highcharts-scrollbar-button {
  fill: var(--table-header);
  stroke: none;
}

.highcharts-navigator-outline,
.highcharts-tick {
  stroke: var(--border-primary);
}

.highcharts-legend-nav-inactive {
  fill: var(--border-primary);
}

.highcharts-legend-nav-active {
  fill: var(--border-hover);
}

.highcharts-series-inactive {
  opacity: 1;
}

.highcharts-tooltip-box .highcharts-label-box {
  fill-opacity: 1;
}
