.theme-light {
  --color-primary: #409eff;
  --color-secondary: #f9f9fb;
  --color-minor-1: #2c3242;
  --color-minor-2: #2c364d;
  --ele-primary-1: #ecf5ff;
  --ele-primary-2: #36548d;
  --ele-secondary-1: #66b1ff;
  --ele-secondary-2: #ecf5ff;
  --ele-minor-1: #ebeef5;
  --ele-minor-2: #a0cfff;
  --common-color-1: #606266;
  --common-color-2: #c0c4cc;
  --common-color-3: #f5f7fa;
  --ele-radius: 4px;
  --border-color-primary: #d7d7d7;
  --white: #ffffff;
  --grey: #909399;
  --disable-color: #8cc5ff;

  --background-color: var(--color-secondary); // 全局背景色
  --background-color-secondary: var(--white); // 次要背景色
  --hover-color: var(--color-primary); //组件悬停色
  --table-head-bg-color: var(--ele-minor-1); //表格表头颜色
  --table-color: var(--white); //表格颜色
  --table-hover-color: var(--common-color-3); //表格悬停颜色
  --table-active-color: var(--grey); //表格选中颜色
  --table-head-text-color: var(--grey); //表格表头字体颜色
  --text-color: #000000; // 主文本色
  --text-color-secondary: var(--grey); // 次文本色
  --border-color: var(--border-color-primary); // 边框色
  --border-hover-color: var(--color-primary); // 边框选中色

  --nav-text-color: var(--border-color-primary); // 导航文字色
  --nav-text-hover-color: var(--white); // 导航文字悬停选中色

  --table-scroll-bg-color: var(--background-color-secondary); // 导航条背景色
  --table-scroll-track-color: var(--grey); // 导航块颜色

  --button-primary-color: var(--color-primary); // 主按钮背景色
  --button-primary-hover-color: var(--ele-secondary-1); // 主按钮悬停背景色
  --button-primary-disabled-color: var(--ele-secondary-2); // 主按钮禁用背景色
  --button-primary-text-color: var(--white); // 主按钮字体色
  --button-primary-text-disabled-color: var(
    --color-primary
  ); // 主按钮禁用背景色
  --button-primary-text-hover-color: var(--white); // 主按钮悬停背景色

  --button-default-color: var(--white); // 默认按钮背景色，禁用背景色
  --button-default-hover-color: var(--hover-color); // 默认按钮悬停背景色
  --button-default-text-color: var(--common-color-1); // 默认按钮字体色
  --button-default-text-disabled-color: var(--common-color-2); // 按钮禁用字体色
  --button-default-text-hover-color: var(--white); // 按钮悬停字体色

  --button-group-color: var(--color-primary); // 按钮组背景色
  --button-group-hover-color: var(--ele-secondary-1); // 按钮组悬停背景色
  --button-group-disabled-color: var(--ele-minor-2); // 按钮组禁用背景色
  --button-group-text-color: var(--white); // 按钮组字体色

  --checkbox-color: var(--color-primary); // checkbox背景色
  --checkbox-inner-color: var(--white); // checkbox内部icon颜色

  --date-table-weekend-color: var(
    --button-hover-color
  ); // 日期选择器周末颜色高亮
  --date-table-current-text-color: var(--white); // 日期选择器选中日期，字体颜色
  --date-table-current-color: var(
    --color-primary
  ); // 日期选择器选中日期的圆圈背景色

  --input-color: var(--background-color-secondary); // 文本输入框背景色
  --input-text-color: var(--text-color-secondary); // 文本输入框字体色
  --input-text-disabled-color: var(--text-color-secondary); // 文本禁用字体色

  --select-text-color: var(--text-color-secondary); // 下拉选择字体色
  --select-text-hover-color: var(--hover-color); // 下拉选择字体悬停色
}
